html {
    margin: 0;
    padding: 0;
}

.table {
    margin: 0 auto;
    width: 936px;
    display: inline-block;
}

table, th, td {
    border-collapse: collapse;
    border: 2px solid rgba(86, 80, 62, 0.2);
  }

 .table th, td {
    text-align: left;
    width: 20%;
    height: 32px;
}

.table th {
    background: #93C9A2;
}

.table td {
    background: #8F7B86;
}
.table:hover {
    cursor: default;
}