<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Excel Spread Sheet</title>
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <div class="table">
      {{table_data}}
    </div>
  </body>
</html>